# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db
*.log
*.swp
.idea/
.vscode/

# Ignorar entorno virtual de Python (Django)
/nutritrack_project/venv/
*.pyc
__pycache__/
db.sqlite3
/media/
/static_cdn/

# Ignorar módulos de Node.js (React)
/frontend/node_modules/
/frontend/build/

# Variables de entorno sensibles (si usas un .env)
.env